.search {
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-input {
    transition: 0.3s;
    background-color: #fff;
    min-width: 10rem;
    min-height: 2rem;
    box-shadow: 0 4px 0px 0 rgba(0, 0, 0, 0.2);
    border: none;
}
.add-employee{
    padding: 10px;
    color:#75A2EF;
    cursor: pointer;
}
